.tasksection{
    display: flex;
    justify-content:start;
    gap: 2rem;
    padding: 0.5rem 1rem;
}

.tasktype{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.type-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0.5rem 0;
}

.icons{
    display: flex;
    gap:0.3rem;
    align-items: center;
}

.tasklist{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0.5rem;
    width: 18rem ;
}

.task-type-name{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}